.component--login-form {
	.form-wrapper {
		color: $sd-gray-light;
		overflow: hidden;
		margin-top: $sd-padding-xxlarge-vertical;
		padding: $sd-padding-xxlarge-vertical 0;

		h2 {
			color: $sd-brand-primary;
			font-weight: 300;
		}

		.alert {
			border-radius: 0;
			color: $sd-brand-light;
			border: none;

			&-success {
				background-color: $sd-brand-primary;
			}

			&-danger {
				background-color: $sd-brand-danger;
			}

			.close {
				opacity: 1;
				color: $sd-brand-light;
				font-weight: 300;
				outline: 0;
				text-shadow: none;

				&:hover {
					color: $sd-brand-dark;
				}
			}
		}

		form {
			width: 85%;
			margin: 0 auto $sd-padding-xlarge-vertical;
			overflow: hidden;

			.field {
				float: left;
				clear: both;
				width: 100%;
				margin-bottom: $sd-padding-xlarge-vertical;

				&.field-type-submit {
					width: 100%;
					text-align: center;

					button {
						width: 100%;
					}
				}
			}
		}
	}
}
