html, body {
	font-weight: 400;
}

h1, .h1 {
	font-weight: 600;
	@media (max-width: $screen-sm) { font-size: $font-size-h1 * 0.75; }
}

h2, .h2 {
	@media (max-width: $screen-sm) { font-size: $font-size-h2 * 0.75; }
}

h3, .h3 {
	@media (max-width: $screen-sm) { font-size: $font-size-h3 * 0.75; }
}

h4, .h4 {
	@media (max-width: $screen-sm) { font-size: $font-size-h4 * 0.90; }
}

h5, .h5 {
	@media (max-width: $screen-sm) { font-size: $font-size-h5 * 0.75; }
}

h6, .h6 {
	@media (max-width: $screen-sm) { font-size: $font-size-h6 * 0.75; }
}

h1, h2 {
	margin-top: 0;
	font-weight: 600;
}

h3, h4, h5, h6 {
	font-weight: 300;
}

p {
	margin-bottom: 20px;
}

a {
	color: $sd-brand-primary;

	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: $sd-brand-primary;
		text-decoration: none;
	}
}

pre {
	padding: (2 * $padding-large-vertical) (1.5 * $padding-large-horizontal) !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	background-color: $sd-gray-lightest;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 5px solid darken($sd-gray-lightest, 5) !important;
	border-radius: 3px 3px 0 0 !important;

	@media (max-width: $screen-xs) {
		margin-left: -20px;
		margin-right: -20px;
		border-bottom: none !important;
	}

	code {
		overflow-wrap: normal;
		white-space: pre;

		li {
			background-color: transparent !important;
			list-style-type: decimal !important;
		}
	}
}

strong {
	font-weight: 600;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: lighten($sd-gray-light, 20);
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: lighten($sd-gray-light, 20);
	opacity: 1;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: lighten($sd-gray-light, 20);
	opacity: 1;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: lighten($sd-gray-light, 20);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: lighten($sd-gray-light, 20);
}
